<div class="container mt-5">
    {{ form_start(form) }}
    {{ form_end(form) }}
    {% for image in images %}
        
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter{{ loop.index }}">
            <img src="{{image.path}}{{image.titre}}" class="w-25 p-4">
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{image.path}}{{image.titre}}" class="w-100 p-4">
            </div>
            <div class="modal-footer" style="    justify-content: space-evenly;">
                
                <form name="bankimg_form" method="post" enctype="multipart/form-data">
                    <div>
                        <input type="text" placeholder="titre" class="w-100 mb-1 form-control" value="{{image.titre}}" name="titre{{ loop.index }}">
                        <select type="text" class="w-100 mb-1 form-control" name="type{{ loop.index }}">
                            {% for type in type_images %}
                                <option>{{type}}</option>
                            {% endfor %}
                        </select>
                        <textarea class="w-100 mb-1 form-control" placeholder="description" name="description{{ loop.index }}"></textarea>
                        <label>Qualité :</label><span name="compressionValue{{ loop.index }}">50%</span>
                        <input type="range" name="rangeInput" edit-range="{{ loop.index }}"min="0" max="100" value="50">
                        </fieldset>
                    </div>
                    <button class="btn" data-dismiss="modal" type="submit" name="delete_image"><i class="bi bi-trash" ></i></button>
                    <button class="btn" data-dismiss="modal" type="submit" name="save_image" onclick="Ajax_editimage({{ loop.index }})"><i class="bi bi-check-lg" ></i></button>
                </form>
                
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
   
</div>