<div class="hero-section {{class}}" style="background: url('{{ asset('assets/images/') }}{{image}}') no-repeat center center/cover;">
    <div class="content band-text-ombre hover-color">
        <h1>{{titre}}</h1>
        <p class="d-none-800">{{description}}</p>
        {% if bouton %}
            {% if url =='#' %}
                <a href="#" class="btn-custom">
            {% else %}
                <a href="{{ path(url) }}" class="btn-custom">
            {% endif %}
            Voir plus <i class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </div>
</div>