<div class="hero-section {{class}}" style="background: url('{{ asset('assets/images/') }}{{image}}') no-repeat center center/cover;">
    <div class="content band-text-ombre">
        <h1>{{titre}}</h1>
        <p>{{description}}</p>
        {% if bouton %}
            {% if url =='#' %}
                <a href="#" class="btn-custom">
            {% else %}
                <a href="{{ path(url) }}" class="btn-custom">
            {% endif %}
            Voir</a>
        {% endif %}
    </div>
</div>