<div class="container card1 pause_top {{class}} mb-5" style="top:{{top}}">
    <div class="animate_opacity d-flex gap-5 max-flex-1000">
        {% for card in data %}
            <div class="flex-33 p-3" style="background-image:url('{{ asset('assets/images/') }}{{card.image}}');background-size:cover;">
                <span class="titre">{{card.titre}}</span>
            </div>
        {% endfor %}
    </div>
</div>