<div class="container">
	{# <h2 class="my-5 text-center">Hot Tours</h2> #}
	
	<div class="tour-card font-rubick">
		{% if position_img == 'gauche' %}
			<img src="{{ asset('assets/images/') }}{{image}}" alt="Tour Image">
		{% endif %}
		<div class="tour-card-body">
			<div>
				<h3 class="tour-title">{{titre}}</h3>
				<p class="tour-description">{{description}}</p>
			</div>
			{% if bouton %}
				<div>
					<a href="{{path(bouton)}}" class="btn btn-outline-primary">Voir</a>
				</div>
			{% endif %}
		</div>
		{% if position_img == 'droite' %}
			<img src="{{ asset('assets/images/') }}{{image}}" alt="Tour Image">
		{% endif %}
		{% if bouton %}
			<div class="tour-price">
				{{price}}
			</div> 
		{% endif %}
		
	</div>
</div>