<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{titre}}{% endblock %}</title>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="#"><img class="logo" src="https://www.logogenie.fr/images/exemples/fr/logo-lotus.png"></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{asset('accueil')}}">Accueil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{asset('contact')}}">Contact</a>
            </li>
            {# <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
            </li> #}
        </ul>
        {# <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> #}
        </div>
    </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">&nbsp;</div>
                <div class="col-lg-4 text-center"><i class="bi bi-facebook"></i><i class="bi bi-linkedin"></i><i class="bi bi-youtube"></i></div>
                <div class="col-lg-4">&nbsp;</div>
            </div>
            <div class="copyright text-center">
                Copyright&copy;2024
            </div>
        </div>
    </footer>
        <script src="{{ asset('assets/js/jquery/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>
