
<div class="container">
	{# <h2 class="my-5 text-center">Hot Tours</h2> #}
	<div class="tour-card">
		<img src="{{ asset('assets/images/') }}{{image}}" alt="Tour Image">
		<div class="tour-card-body">
			<div>
				<h3 class="tour-title">{{titre}}</h3>
				{# <div class="tour-reviews">
					<span class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</span> 
					4 customer reviews
				</div> #}
				<p class="tour-description">{{description}}</p>
			</div>
			<div>
				<a href="#" class="btn btn-outline-primary">Voir</a>
			</div>
		</div>
		<div class="tour-price">
			{{price}}
		</div>
	</div>
</div>